.SOL { background-color: #e1f4fe; }

#container {
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

#bg {
	left: 50%;
	position: absolute;
	width: 50%;
	height: 100%;
}

/* Solar System Styles */
ul.solarsystem {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	list-style: none;
	-webkit-transition: all 0.09s ease-in;
	-moz-transition: all 0.09s ease-in;
	-o-transition: all 0.09s ease-in;
	transition: all 0.09s ease-in;
	z-index: 0;
}
ul.solarsystem li {
	text-indent: -9999px;
	display: block;
	position: absolute;
	border: 1px solid #e1f4fe;
}
ul.solarsystem li .planet {
	display: block;
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
ul.solarsystem li .planet .name {
	width: auto;
}
ul.solarsystem li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 50%;
}
ul.solarsystem li.sun {
	width: 24em;
	height: 24em;
	background: #ffde00;
	margin-top: -12em;
	left: -12em;
	border: none;
	z-index: 100;
	display: none;
}
ul.solarsystem li.mercury {
	width: 28em;
	height: 28em;
	margin-top: -14em;
	left: -14em;
	z-index: 99;
	border-color: rgba(241,133,0,0.5);
}
ul.solarsystem li.mercury .planet {
	background: #f18500;
	top: -0.3em;
	left: 13.7em;
}
ul.solarsystem li.venus {
	width: 32em;
	height: 32em;
	margin-top: -16em;
	left: -16em;
	z-index: 98;
	border-color: rgba(34,161,211,0.5);
}
ul.solarsystem li.venus .planet {
	background: #22a1d3;
	top: -0.3em;
	left: 15.7em;
}
ul.solarsystem li.earth {
	width: 36em;
	height: 36em;
	margin-top: -18em;
	left: -18em;
	z-index: 97;
	border-color: rgba(34,152,56,0.5);
}
ul.solarsystem li.earth .planet {
	background: #229838;
	top: -0.3em;
	left: 17.7em;
}
ul.solarsystem li.earth .planet.moon {
	width: 0.3em;
	height: 0.3em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #999999;
	top: 0.6em;
	left: 0.6em;
}
ul.solarsystem li.mars {
	width: 40em;
	height: 40em;
	margin-top: -20em;
	left: -20em;
	z-index: 96;
	border-color: rgba(230,51,34,0.5);
}
ul.solarsystem li.mars .planet {
	background: #e63322;
	top: -0.3em;
	left: 19.7em;
}
ul.solarsystem li.jupiter {
	width: 44em;
	height: 44em;
	margin-top: -22em;
	left: -22em;
	z-index: 95;
	border-color: rgba(194,199,0,0.5);
}
ul.solarsystem li.jupiter .planet {
	background: #c2c700;
	top: -1.5em;
	left: 20.5em;
	width: 3em;
	height: 3em;
}
ul.solarsystem li.saturn {
	width: 48em;
	height: 48em;
	margin-top: -24em;
	left: -24em;
	z-index: 94;
	border-color: rgba(185,27,95,0.5);
}
ul.solarsystem li.saturn .planet {
	background: #b91b5f;
	top: -1.25em;
	left: 22.5em;
	width: 2.5em;
	height: 2.5em;
}
ul.solarsystem li.uranus {
	width: 52em;
	height: 52em;
	margin-top: -26em;
	left: -26em;
	z-index: 93;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.uranus .planet {
	background: #7465ab;
	top: -0.7em;
	left: 25.3em;
	width: 1.4em;
	height: 1.4em;
}
ul.solarsystem li.neptune {
	width: 56em;
	height: 56em;
	margin-top: -28em;
	left: -28em;
	z-index: 92;
	border-color: rgba(98,182,172,0.5);
}
ul.solarsystem li.neptune .planet {
	background: #62b6ac;
	top: -0.7em;
	left: 27.3em;
	width: 1.4em;
	height: 1.4em;
}
ul.solarsystem li.pluto {
	z-index: 92;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.pluto .planet {
	background: #7465ab;
}
ul.solarsystem li.ceres {
	z-index: 92;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.ceres .planet {
	background: #7465ab;
}
ul.solarsystem li.haumea {
	z-index: 92;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.haumea .planet {
	background: #7465ab;
}
ul.solarsystem li.makemake {
	z-index: 92;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.makemake .planet {
	background: #7465ab;
}
ul.solarsystem li.eris {
	z-index: 92;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.eris .planet {
	background: #7465ab;
}
/* CSS3 Animations */
ul.solarsystem li {
	animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:orbit; -moz-animation-name:orbit; -webkit-animation-name:orbit;
}
ul.solarsystem li.earth .planet {
	animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:moon; -moz-animation-name:moon; -webkit-animation-name:moon;
}
ul.solarsystem li.mercury {-webkit-animation-duration:6s; -moz-animation-duration:6s; animation-duration: 6s; animation-delay: -2.5s;}
ul.solarsystem li.venus {-webkit-animation-duration:9.2s; -moz-animation-duration:9.2s;animation-duration:9.2s; animation-delay: -3s;}
ul.solarsystem li.earth {-webkit-animation-duration:15s; -moz-animation-duration:15s;animation-duration:15s;animation-delay: -2.5s;}
ul.solarsystem li.earth .planet {-webkit-animation-duration:1.15s; -moz-animation-duration:1.15s;animation-duration:1.15s;}
ul.solarsystem li.mars {-webkit-animation-duration:22.86s; -moz-animation-duration:22.86s;animation-duration:22.86s;animation-delay:-8.6s;}
ul.solarsystem li.ceres {-webkit-animation-duration:69s; -moz-animation-duration:69s;animation-duration:69s;animation-delay:-8.6s;}
ul.solarsystem li.jupiter {-webkit-animation-duration:75.375s; -moz-animation-duration:75.375s;animation-duration:75.375s;animation-delay:-21s;}
ul.solarsystem li.saturn {-webkit-animation-duration:143s; -moz-animation-duration:143s;animation-duration:143s;animation-delay:-35.75s;}
ul.solarsystem li.uranus {-webkit-animation-duration:288s; -moz-animation-duration:288s;animation-duration:288s;animation-delay:-60s;}
ul.solarsystem li.neptune {-webkit-animation-duration:451s; -moz-animation-duration:451s;animation-duration:451s;animation-delay:-137.8s;}
ul.solarsystem li.pluto {-webkit-animation-duration:3715.5s; -moz-animation-duration:3715.5s;animation-duration:3715.5s;animation-delay:-137.8s;}
ul.solarsystem li.haumea {-webkit-animation-duration:4228.5s; -moz-animation-duration:4228.5s;animation-duration:4228.5s;animation-delay:-137.8s;}
ul.solarsystem li.makemake {-webkit-animation-duration:4579.5s; -moz-animation-duration:4579.5s;animation-duration:4579.5s;animation-delay:-137.8s;}
ul.solarsystem li.eris {-webkit-animation-duration:8421s; -moz-animation-duration:8421s;animation-duration:8421s;animation-delay:-137.8s;}
@-webkit-keyframes orbit { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes orbit { 100% { -moz-transform:rotate(360deg); } }
@keyframes orbit { 100% { transform:rotate(360deg); } }
@-webkit-keyframes moon { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes moon { 100% { -moz-transform:rotate(360deg); } }
@keyframes moon { 100% { transform:rotate(360deg); } }
@media only screen and (max-width: 900px){
	ul.solarsystem { font-size: 14px; }
}
@media only screen and (max-width: 700px){
	ul.solarsystem { font-size: 12px; }
}
@media only screen and (max-width: 500px){
	ul.solarsystem { font-size: 10px; }
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto; 
	text-align: left;
	max-width: 640px;
	padding: 2.5em;
	background: rgba(255,255,255,0.85);
}

