/* CSS3 Animations */
#space {
	width: 100%;
	height: 90%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.innerbox {
	position: absolute;
	left: 0em;
	right: 0em;
	top: 0em;
	bottom: 0em;		
	display: table-row;
	margin: 1.25em;
}
.middlebox ul { margin-top: 0.5em; margin-bottom: 0.5em; }
ul { list-style: none; margin-left: 0px; padding-left: 0; }
ul li { display: inline-block; margin-right: 1em; }

.stripe { width: 100%; height: 4px; }

.axes label { display: none; }
.xaxis { position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; }
.yaxis { position: absolute; left: 0px; width: 100%; height: 100%; overflow: hidden; }
.xaxis .gridline, .yaxis .gridline { border: 1px solid #fdcc9c; }
.xaxis .gridline {
	position: absolute;
	top: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	height: 100%;
}
.yaxis .gridline {
	position: absolute;
	left: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	width: 100%;
}
.xaxis .majorgridline,.yaxis .majorgridline { border-color: white; border-width: 2px; }
.xaxis .label { bottom: 0px; margin: 0.25em; margin-bottom: 0; line-height: 1em; }
.yaxis .label { right: 0px; margin: 0.25em; margin-right: 0; line-height: 1em; }
.xaxis .label, .yaxis .label { color: #fbb675; position: absolute; white-space: nowrap; }
.xaxis .label:hover, .yaxis .label:hover { color: black; }
.labelline {
	border-left: 1px dashed black;
	position: absolute;
	top: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	height: 100%;
}
.label { display: inline-block; bottom: 1.5em; margin-left: 0.25em; position: absolute; white-space: nowrap; }
.key { margin-bottom: 0.5em; }
form.axes input {
	float: right;
	width: 220px;
	font-size: 0.8em;
	transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.unmatched { display: none!important; }


@media only screen and (max-width: 700px){
	.topbox ul { font-size: 0.8em; }
	select { font-size: 0.8em; }
	.innerbox { top: 0em;}
	ul li { margin-right: 0.5em; margin-top: 0em; }
	form.filter { float: none; padding-bottom: 0.5em; width: 100%; }
	form.axes input { float: none; width: 100%; }
}
