/* Load font CSS */
@import url("../resources/font/source-code-pro.css");

/* Reset block */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: black; }
sup { font-size: 0.8em; position: relative; top: -0.5em;}

/* Cosmos-specific styles */
html,body {
	height: 100%;
	margin: 0px;
}
body { font-family: "Helvetica Neue", sans-serif; text-align: left; margin: 0px; background-color: #f9f9fa; background-image: url("paper.png");}
body.cover { background-color: #ffffff; }
.COS { background-color: #f3e5e9; }
.ETL { background-color: #e9e2ef; }
.EXO { background-color: #e9e2ef; }
.EXP { background-color: #ffe6d4; }
.GAL { background-color: #f2f6d5; }
.OTH { background-color: #e3f3f2; }
.STA { background-color: #fee7dd; }
.SOL { background-color: #e1f4fe; }
.SUN { background-color: #fffcd5; }
.TEL { background-color: #e4f2e7; }
.SPACE { background-color: black; }
.SPACE #content { color: white; }
h1, h2, h3, .title, .title:visited { font-family: "Source Code Pro", monospace, sans-serif; font-weight: 500; letter-spacing: -1px; margin-top: 0px; text-decoration: none; color: inherit; }
h1 { margin-bottom: 0.25em; font-size: 1.5em; }
h2 { font-size: 1.2em; line-height: 1.8em; margin: 1em 0 0 0; }
h3 { margin-bottom: 0em; }
p { max-width: 600px; line-height: 1.25em; }
p { margin-top: 1em; }
p:first-child { margin-top: 0; }
p.columns { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; column-gap: 1em; column-width: 600px; max-width: 100%; }
input[type=text], input[type=number] {
	height: 2em;
	font-size: 1em;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul { padding-left: 1em; }
ul.indent { padding: 0.5em 0em 0em 2em; }
ul li { margin-top: 0.5em; list-style-type: disc; line-height: 1.25em; }
ul ul li { margin-left: 0; list-style-type: circle; }
.pagenum { float: right; margin-right: 0.5em; }

a { color: #00b9e4; text-decoration: none; }
a:hover, a.focus { text-decoration: underline; }
a:visited, nav a:hover, nav a:focus { color: #00a2d3; }

body.COS a { color: #7c52a1; }
body.COS a:visited, body.COS #header a:hover, body.COS #header a:focus { color: #662d8f; }
body.COS #footer a { color: #7d71b4; }
body.ETL a { color: #cbd658; }
body.ETL a:visited, body.ETL #header a:hover, body.ETL #header a:focus { color: #b6c727; }
body.ETL #footer a { color: #dce57d; }
body.SOL a { color: #00b9e4; }
body.SOL a:visited, body.SOL #header a:hover, body.SOL #header a:focus { color: #00a2d3; }
body.SOL #footer a { color: #8fd7ed; }
body.OTH a { color: #89d0c8; }
body.OTH a:visited, body.OTH #header a:hover, body.OTH #header a:focus { color: #57b7aa; }
body.OTH #footer a { color: #a8dbd5; }
body.EXP a { color: #f05948; }
body.EXP a:visited, body.EXP #header a:hover, body.EXP #header a:focus { color: #f04031; }
body.EXP #footer a { color: #f9aa8f; }
body.EXO a { color: #6e69b0; }
body.EXO a:visited, body.EXO #header a:hover, body.EXO #header a:focus { color: #6e69b0; }
body.EXO #footer a { color: #aaa5d1; }
body.GAL a { color: #cbd658; }
body.GAL a:visited, body.GAL #header a:hover, body.GAL #header a:focus { color: #b6c727; }
body.GAL #footer a { color: #dce57d; }
body.STA a { color: #f05948; }
body.STA a:visited, body.STA #header a:hover, body.STA #header a:focus { color: #f04031; }
body.STA #footer a { color: #f68d69; }
body.SUN a { color: #ffde00; }
body.SUN a:visited, body.SUN #header a:hover, body.SUN #header a:focus { color: #ffcb06; }
body.SUN #footer a { color: #fff79a; }
body.TEL a { color: #0ab26b; }
body.TEL a:visited, body.TEL #header a:hover, body.TEL #header a:focus { color: #02a24b; }
body.TEL #footer a { color: #67c18d; }
ul#menu { display: inline-block; float: right; list-style: none; margin: 0px; margin-top: 0em; padding: 0px; font-family: "Source Code Pro", monospace, sans-serif; font-weight: 500; }
ul#menu li { display: inline-block; margin: 0px; padding: 0px; line-height: 1em; }
#header a, #footer a { color: inherit; }
footer { background-color: #616265; color: #efefef; }
nav { background-color: white; box-shadow: 0px 0px 1px rgba(0,0,0,0.05); line-height: 1em; }

/* Front page */
.holder { position: absolute; height: 100%; width: 100%; }
.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 100;
}
#bg { position: absolute; min-height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; 
    z-index:-1; /* Remove this line if it's not going to be a background! */ }

/* Solar System Styles */
ul.solarsystem {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	list-style: none;
	-webkit-transition: all 0.09s ease-in;
	-moz-transition: all 0.09s ease-in;
	-o-transition: all 0.09s ease-in;
	transition: all 0.09s ease-in;
	overflow: hidden;
	z-index: 0;
}
ul.solarsystem li {
	text-indent: -9999px;
	display: block;
	position: absolute;
	border: 1px solid #e1f4fe;
}
ul.solarsystem li span {
	display: block;
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
ul.solarsystem li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 20em;
}
ul.solarsystem li.sun {
	width: 24em;
	height: 24em;
	background: #ffde00;
	margin-top: -12em;
	left: -12em;
	border: none;
	z-index: 100;
}
ul.solarsystem li.mercury {
	width: 28em;
	height: 28em;
	margin-top: -14em;
	left: -14em;
	z-index: 99;
	border-color: rgba(241,133,0,0.5);
}
ul.solarsystem li.mercury span {
	background: #f18500;
	top: -0.3em;
	left: 13.7em;
}
ul.solarsystem li.venus {
	width: 32em;
	height: 32em;
	margin-top: -16em;
	left: -16em;
	z-index: 98;
	border-color: rgba(34,161,211,0.5);
}
ul.solarsystem li.venus span {
	background: #22a1d3;
	top: -0.3em;
	left: 15.7em;
}
ul.solarsystem li.earth {
	width: 36em;
	height: 36em;
	margin-top: -18em;
	left: -18em;
	z-index: 97;
	border-color: rgba(34,152,56,0.5);
}
ul.solarsystem li.earth span {
	background: #229838;
	top: -0.3em;
	left: 17.7em;
}
ul.solarsystem li.earth span.moon {
	width: 0.3em;
	height: 0.3em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #999999;
	top: 0.6em;
	left: 0.6em;
}
ul.solarsystem li.mars {
	width: 40em;
	height: 40em;
	margin-top: -20em;
	left: -20em;
	z-index: 96;
	border-color: rgba(230,51,34,0.5);
}
ul.solarsystem li.mars span {
	background: #e63322;
	top: -0.3em;
	left: 19.7em;
}
ul.solarsystem li.jupiter {
	width: 44em;
	height: 44em;
	margin-top: -22em;
	left: -22em;
	z-index: 95;
	border-color: rgba(194,199,0,0.5);
}
ul.solarsystem li.jupiter span {
	background: #c2c700;
	top: -1.5em;
	left: 20.5em;
	width: 3em;
	height: 3em;
}
ul.solarsystem li.saturn {
	width: 48em;
	height: 48em;
	margin-top: -24em;
	left: -24em;
	z-index: 94;
	border-color: rgba(185,27,95,0.5);
}
ul.solarsystem li.saturn span {
	background: #b91b5f;
	top: -1.25em;
	left: 22.5em;
	width: 2.5em;
	height: 2.5em;
}
ul.solarsystem li.uranus {
	width: 52em;
	height: 52em;
	margin-top: -26em;
	left: -26em;
	z-index: 93;
	border-color: rgba(116,101,171,0.5);
}
ul.solarsystem li.uranus span {
	background: #7465ab;
	top: -0.7em;
	left: 25.3em;
	width: 1.4em;
	height: 1.4em;
}
ul.solarsystem li.neptune {
	width: 56em;
	height: 56em;
	margin-top: -28em;
	left: -28em;
	z-index: 92;
	border-color: rgba(98,182,172,0.5);
}
ul.solarsystem li.neptune span {
	background: #62b6ac;
	top: -0.7em;
	left: 27.3em;
	width: 1.4em;
	height: 1.4em;
}
/* CSS3 Animations */
ul.solarsystem li {
	animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:orbit; -moz-animation-name:orbit; -webkit-animation-name:orbit;
}
ul.solarsystem li.earth span {
	animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:moon; -moz-animation-name:moon; -webkit-animation-name:moon;
}
ul.solarsystem li.mercury {-webkit-animation-duration:6s; -moz-animation-duration:6s; animation-duration: 6s; animation-delay: -2.5s;}
ul.solarsystem li.venus {-webkit-animation-duration:9.2s; -moz-animation-duration:9.2s;animation-duration:9.2s; animation-delay: -3s;}
ul.solarsystem li.earth {-webkit-animation-duration:15s; -moz-animation-duration:15s;animation-duration:15s;animation-delay: -2.5s;}
ul.solarsystem li.earth span {-webkit-animation-duration:1.15s; -moz-animation-duration:1.15s;animation-duration:1.15s;}
ul.solarsystem li.mars {-webkit-animation-duration:22.86s; -moz-animation-duration:22.86s;animation-duration:22.86s;animation-delay:-8.6s;}
ul.solarsystem li.jupiter {-webkit-animation-duration:75.375s; -moz-animation-duration:75.375s;animation-duration:75.375s;animation-delay:-21s;}
ul.solarsystem li.saturn {-webkit-animation-duration:143s; -moz-animation-duration:143s;animation-duration:143s;animation-delay:-35.75s;}
ul.solarsystem li.uranus {-webkit-animation-duration:288s; -moz-animation-duration:288s;animation-duration:288s;animation-delay:-60s;}
ul.solarsystem li.neptune {-webkit-animation-duration:451s; -moz-animation-duration:451s;animation-duration:451s;animation-delay:-137.8s;}
@-webkit-keyframes orbit { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes orbit { 100% { -moz-transform:rotate(360deg); } }
@keyframes orbit { 100% { transform:rotate(360deg); } }
@-webkit-keyframes moon { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes moon { 100% { -moz-transform:rotate(360deg); } }
@keyframes moon { 100% { transform:rotate(360deg); } }
@media only screen and (max-width: 900px){
	ul.solarsystem { font-size: 14px; }
}
@media only screen and (max-width: 700px){
	ul.solarsystem { font-size: 12px; }
}
@media only screen and (max-width: 500px){
	ul.solarsystem { font-size: 10px; }
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto; 
	text-align: left;
	max-width: 640px;
	padding: 2.5em;
	background: rgba(255,255,255,0.85);
}






/* Other pages */
#container {
	height: 100%;
}
#main {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
#content {
	-webkit-flex: 1 100%;
	flex: 1 100%;
}
#content {
	position: relative;
}
ul#menu {
	float: right;
	margin: 0px;
}
ul#menu li {
	display: inline-block;
}
footer a { color: inherit; }
.padder { padding: 1em 1.5em; }
.padded { margin: 1em 1.5em; }
.table { height: 100%; width: 100%; display: table; display: flex; flex-direction: column; position: absolute; top: 0px; bottom: 0px; }
.table-row-top > .padder { padding-bottom: 0px; }
.table-row-top.padded { margin-bottom: 0px; }
.table-row { display: block; bottom: 0px; top: 0px; height: 500px; display: flex; position: relative; flex: 1 100%; }
.table-row > .padder { position: absolute; bottom: 0px; left: 0px; top: 0px; right: 0px; }
.full-width { position: absolute; left: 0px; right:0px; top:0px; bottom:0px; overflow-x: auto; overflow-y: hidden; }


/* Contents */
h2.COS { padding-left: 0.5em; border-left: 0.5em solid #cd7d94; }
h2.ETL { padding-left: 0.5em; border-left: 0.5em solid #7d71b4; }
h2.EXO { padding-left: 0.5em; border-left: 0.5em solid #7d71b4; }
h2.EXP { padding-left: 0.5em; border-left: 0.5em solid #fbb675; }
h2.GAL { padding-left: 0.5em; border-left: 0.5em solid #67c18d; }
h2.OTH { padding-left: 0.5em; border-left: 0.5em solid #a8dbd5; }
h2.STA { padding-left: 0.5em; border-left: 0.5em solid #f68d69; }
h2.SOL { padding-left: 0.5em; border-left: 0.5em solid #48c7e9; }
h2.SUN { padding-left: 0.5em; border-left: 0.5em solid #fff200; }
h2.TEL { padding-left: 0.5em; border-left: 0.5em solid #67c18d; }

/* Subtle vignette */
.EXO #content { box-shadow:inset 0px 0px 200px rgba(102,45,143,0.06); }
.EXP #content { box-shadow:inset 0px 0px 200px rgba(246,136,31,0.06); }
.GAL #content { box-shadow:inset 0px 0px 200px rgba(2,162,75,0.06); }
.OTH #content { box-shadow:inset 0px 0px 200px rgba(87,183,170,0.06); }
.SOL #content { box-shadow:inset 0px 0px 200px rgba(0,162,211,0.06); }
.STA #content { box-shadow:inset 0px 0px 200px rgba(240,64,49,0.06); }
.SUN #content { box-shadow:inset 0px 0px 200px rgba(255,203,6,0.06); }


/* Tooltip styling */
.tooltip { z-index: 1000; font-size: 0.85em; width: 350px; margin-left: 0px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2); position: absolute; background-color: white; -webkit-transition: left 0.2s, top 0.2s; transition: left 0.2s, top 0.2s; transition-timing-function: ease-in; text-align: center; }
.tooltip .tooltip_padd { padding: 1em; }
.tooltip .tooltip_inner { text-align: left; }
.tooltip .tooltip_inner table { width: 100%; padding: 0px; margin: 0px; border-collapse: collapse; }
.tooltip .tooltip_inner table td { text-align: left; vertical-align: top; padding: 2px; }
.tooltip .tooltip_inner table td:last-child { text-align: right; }
.tooltip .tooltip_inner table td:first-child { text-align: left; width: 40%; font-weight: bold; font-weight: 500; }
.tooltip h3 { text-align: center; }
.tooltip p { margin-top: 0px; }
.tooltip tr:hover { background-color: #eeeeee; }
.tooltip.right { margin-left: 1.0em; }
.tooltip.left { margin-left: -1.0em; }
.tooltip .tooltip_inner:before { content: ''; position: absolute; left: auto; top: auto; width: 0; height: 0; border: 1em solid transparent; border-top-color: white; border-bottom-color: transparent; }
.tooltip.right .tooltip_inner:before { left: -1em; top: 0; border-left-color: transparent; border-right-color: white; }
.tooltip.left .tooltip_inner:before { right: -1em; top: 0; border-left-color: white; border-right-color: transparent; }
.tooltip.bottom .tooltip_inner:before { top: auto; bottom: 0; border-top-color: transparent; border-bottom-color: white; }
.tooltip .tooltip_close { text-align: center; margin: auto; }


/* form toggle */
.toggleinput { vertical-align: middle; }
.toggle-label1, .toggle-label2 { display: inline; position: relative; cursor: pointer; }
.toggle-bg { display: inline-block; }
.toggle-label1 { margin-right: 5px; }
.toggle-label2 { margin-left: 5px; }
.toggle-bg { background: #cccccc; border-radius: 1em; box-shadow: inset 0 0 3px rgba(0,0,0,0.4), inset 0 10px 0px rgba(0,0,0,0.05); position: relative; cursor: pointer; white-space: nowrap;  }
.toggle-bg input { height: 1.25em; left: 0; margin: 0; /* Reset the margins and padding */ opacity: 0.0; /* Invisible! */ padding: 0; position: absolute; top: 0; z-index: 2; 	/*IE*/ 	zoom: 1; 	filter: alpha(opacity=0); cursor: pointer; }
/* As we are hiding the radio buttons we will make the switch glow when the radio button receives focus. We need to use some sibling selectors. */
.toggle-bg input:focus + .switch, .toggle-bg input:focus + input + .switch, .toggle-bg input:hover + .switch, .toggle-bg input:hover + input + .switch { box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2, 0 0 4px 2px #3366dd; }
.switch_holder { display: inline-block; width: 100%; height: 1.25em; }
.switch{ cursor: pointer; background: #ffffff; border-radius: 1em; box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2; display: inline-block; left: -1px; /* This is the starting point. When adding a border radius, a small bit of the background is shown if we use left: 0;, so -1px is best.*/ position: absolute; top: 0; /* ...To keep it centered vertically */ transition: left .25s ease; z-index: 1; /* Remember, it must be below the invisible inputs */ }
.toggler { height: 1.25em;}
.toggler.checked .switch { left: -1px; } /* initial toggle position */
.toggler.checked .switch { left: 1.25em; } /* final relative toggle position */
.toggle-bg input:checked{ z-index: 0; }
.toggle-bg, .toggle-bg input, .switch, .toggleinput label { height: 1.25em; }
.toggle-bg { width: 2.5em; }
.toggle-bg input { width: 3.5em; height: 2em; }
.toggle-label1, .toggle-label2 { top: -0.25em; }
.switch { width: 1.25em; }

body.STA .toggler.checked .toggle-bg { background-color: #f68d69; }
body.COS .toggler.checked .toggle-bg { background-color: #7d71b4; }
body.ETL .toggler.checked .toggle-bg { background-color: #dce57d; }
body.EXO .toggler.checked .toggle-bg { background-color: #8a84bf; }
body.EXP .toggler.checked .toggle-bg { background-color: #f68d69; }
body.GAL .toggler.checked .toggle-bg { background-color: #dce57d; }
body.OTH .toggler.checked .toggle-bg { background-color: #a8dbd5; }
body.STA .toggler.checked .toggle-bg { background-color: #f68d69; }
body.SOL .toggler.checked .toggle-bg { background-color: #48c7e9; }
body.SUN .toggler.checked .toggle-bg { background-color: #fff200; }
body.TEL .toggler.checked .toggle-bg { background-color: #67c18d; }


a.repo {
	display: inline-block;
	margin-top: 8px;
	padding-left: 22px;
	background: transparent;
	background-image: url('/github.png');
	background-position: center left;
	background-repeat: no-repeat;
}

a.button { text-decoration: none; color: black!important; }
.button {
	font-size: 1em;
	padding: 0.25em 1em;
	margin: 0 0.25em;
	display: inline-block;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	cursor: pointer;
	min-width: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #dfdfdf;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);	
}
body .button:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: white;
	border-color: #dfdfdf;
}

.astronaut { background-color: #00a2d3; }
.cosmonaut { background-color: #f04031; }
.taikonaut { background-color: #ffcb06; }
.international { background-color: #67c18d; }
.tourist,.commercial { background-color: #7c52a1; }


.loader {
	margin: 100px auto 0;
	width: auto;
	text-align: center;
}

.loader > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce:nth-child(3n+1) {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader .bounce:nth-child(3n+2) {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	-webkit-transform: scale(0);
	transform: scale(0);
	} 40% { 
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	}
}

.key { margin: 0px; padding-left: 0; display: inline-block; margin-bottom: 0.5em; }
.keyitem { display: inline-block; margin-right: 1em; }
.keyitem:last-child { margin-right: 0; }
.keysymbol { margin-right: 0.25em; }
.keycircle { margin-right: 0.25em; width: 0.8em; height: 0.8em; display: inline-block; border-radius: 100%; }
.keysymbol img { max-width: 0.75em; }


#controls { width: 100%; margin-top: 1em; }
#controls .padder { padding-left: 0px; padding-right: 0px; }
#controls .label_a { float: left; margin-left: -4em; text-align: right; width: 3em; margin-top:-2px;}
#controls .label_b { float: right; margin-right: -4em; width: 3em; margin-top:-2px; }
#controls .rangelabel { float: left; width: 10em; margin-top:-2px; }
#controls .range { margin-left: 3.5em; margin-right: 3.5em; }
#controls .rangelabel + .range { margin-left: 10em; }

.js-only { display: none; }

@media only screen and (max-width: 900px){
	p.columns { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
}
@media only screen and (max-width: 700px){
	h1 { font-size: 1.3em; }
	.tooltip { max-width: 100%; font-size: 1em; left: 0px; top: 0px!important; bottom: 0px; right: 0px; width: auto; position: fixed; overflow-y: auto; }
	body.hastooltip { overflow: hidden; }
	.tooltip .tooltip_inner:before { border: 0px; }
	.tooltip.left,.tooltip.right { margin-left: 0px; margin-right:0px; left: 0px; right: 0px; }
	.wide { display: none; }
	.inner { padding: 0em;}
	.padder { padding: 0.5em; }
	.padded { margin: 0.5em; }
	ul#menu { font-family: "Helvetica Neue", sans-serif; font-weight: normal; }
	p.columns { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
}
