/* Reset page styling */
body { font-family: "Helvetica Neue", sans-serif; text-align: center; margin: 0px; background-color: #f9f9fa; }
body.cover { background-color: #ffffff; }
body.COS { background-color: #e9e2ef; }
body.ETL { background-color: #f2f6d5; }
body.EXO { background-color: #e8e7f2; }
body.EXP { background-color: #fee7dd; }
body.GAL { background-color: #f2f6d5; }
body.OTH { background-color: #e3f3f2; }
body.STA { background-color: #fee7dd; }
body.SOL { background-color: #e1f4fe; }
body.SUN { background-color: #fffcd5; }
body.TEL { background-color: #e4f2e7; }

h1, h2, h3, .title, .title:visited { font-family: "Menlo Regular", monospace, sans-serif; font-weight: normal; margin-top: 0px; text-decoration: none; color: inherit; }
h1 { margin-bottom: 0.25em; font-size: 1.5em; }
h3 { margin-bottom: 0em; }
p:last-child { margin-bottom: 0px; }
input[type=text], input[type=number] {
	height: 2em;
	font-size: 1em;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul { padding-left: 1em; }
ul li { margin-bottom: 0.5em; }
ul ul li { margin-left: 0; list-style-type: circle; }

a { color: #00b9e4; }
a:visited, #header a:hover, #header a:focus { color: #00a2d3; }
#footer a { color: #48c7e9; }
body.COS a { color: #7c52a1; }
body.COS a:visited, body.COS #header a:hover, body.COS #header a:focus { color: #662d8f; }
body.COS #footer a { color: #7d71b4; }
body.ETL a { color: #cbd658; }
body.ETL a:visited, body.ETL #header a:hover, body.ETL #header a:focus { color: #b6c727; }
body.ETL #footer a { color: #dce57d; }
body.SOL a { color: #00b9e4; }
body.SOL a:visited, body.SOL #header a:hover, body.SOL #header a:focus { color: #00a2d3; }
body.SOL #footer a { color: #48c7e9; }
body.OTH a { color: #89d0c8; }
body.OTH a:visited, body.OTH #header a:hover, body.OTH #header a:focus { color: #57b7aa; }
body.OTH #footer a { color: #a8dbd5; }
body.EXP a { color: #f05948; }
body.EXP a:visited, body.EXP #header a:hover, body.EXP #header a:focus { color: #f04031; }
body.EXP #footer a { color: #f68d69; }
body.EXO a { color: #6e69b0; }
body.EXO a:visited, body.EXO #header a:hover, body.EXO #header a:focus { color: #4f4c9a; }
body.EXO #footer a { color: #8a84bf; }
body.GAL a { color: #cbd658; }
body.GAL a:visited, body.GAL #header a:hover, body.GAL #header a:focus { color: #b6c727; }
body.GAL #footer a { color: #dce57d; }
body.STA a { color: #f05948; }
body.STA a:visited, body.STA #header a:hover, body.STA #header a:focus { color: #f04031; }
body.STA #footer a { color: #f68d69; }
body.SUN a { color: #ffde00; }
body.SUN a:visited, body.SUN #header a:hover, body.SUN #header a:focus { color: #ffcb06; }
body.SUN #footer a { color: #fff200; }
body.TEL a { color: #0ab26b; }
body.TEL a:visited, body.TEL #header a:hover, body.TEL #header a:focus { color: #02a24b; }
body.TEL #footer a { color: #67c18d; }

ul#menu { display: inline-block; float: right; list-style: none; margin: 0px; padding: 0px; }
ul#menu li { display: inline-block; margin: 0px; padding: 0px; }
#header a { color: inherit; text-decoration: none; }


#main { background-color: transparent; }
.padder { padding: 16px 24px; }
#bg { position: absolute; min-height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; 
    z-index:-1; /* Remove this line if it's not going to be a background! */ }
#container { width: 100%; display: block; position: absolute; top: 0px; bottom: 0px; z-index: 100; }
#main { height: 100%; width: 100%; display: table; position: relative; }
#header { height: 2em; background-color: white; }
#header, #content { display: table-row; }
#header, #footer { text-align: left; }
#header .padder { padding: 12px 24px; border-bottom: 1px solid #e8e8e8; box-shadow: 0px 0px 1px rgba(0,0,0,0.05); }
#content { text-align: left; position: relative; padding: 48px 48px; border: 2px solid green; }
#footer { min-height: 4em; background-color: rgba(0, 0, 0, 0.85); color: #efefef; }
#footer a { text-decoration: none; }
.holder { position: absolute; height: 100%; width: 100%; }
.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 100;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto; 
	text-align: left;
	max-width: 640px;
	padding: 2.5em;
	background: rgba(255,255,255,0.85);
}


/* Tooltip styling */
.tooltip { z-index: 1000; font-size: 0.85em; width: 350px; margin-left: 0px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2); position: absolute; background-color: white; -webkit-transition: left 0.2s, top 0.2s; transition: left 0.2s, top 0.2s; transition-timing-function: ease-in; }
.tooltip .tooltip_inner { margin: 1em; text-align: left; }
.tooltip .tooltip_inner table { width: 100%; padding: 0px; margin: 0px; border-collapse: collapse; }
.tooltip .tooltip_inner table td { text-align: left; vertical-align: top; padding: 2px; }
.tooltip .tooltip_inner table td:last-child { text-align: right; }
.tooltip .tooltip_inner table td:first-child { text-align: left; width: 40%; }
.tooltip h3 { text-align: center; }
.tooltip p { margin-top: 0px; }
.tooltip tr:hover { background-color: #eeeeee; }
.tooltip.right { margin-left: 1.0em; }
.tooltip.left { margin-left: -1.0em; }
.tooltip .tooltip_inner:before {
	content: '';
	position: absolute;
	left: auto;
	top: auto;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-top-color: white;
	border-bottom-color: transparent;
}
.tooltip.right .tooltip_inner:before {
	left: -1em;
	top: 0;
	border-left-color: transparent;
	border-right-color: white;
}
.tooltip.left .tooltip_inner:before {
	right: -1em;
	top: 0;
	border-left-color: white;
	border-right-color: transparent;
}
.tooltip.bottom .tooltip_inner:before {
	top: auto;
	bottom: 0;
	border-top-color: transparent;
	border-bottom-color: white;
}
.tooltip .tooltip_close {
	text-align: center;
	margin-bottom: 1em;
}


a.repo {
	display: inline-block;
	margin-top: 8px;
	padding-left: 22px;
	text-decoration: none;
	background: transparent;
	background-image: url('/github.png');
	background-position: center left;
	background-repeat: no-repeat;
}

a.button { text-decoration: none; color: black!important; }
.button {
	font-size: 1em;
	padding: 0.25em 1em;
	margin: 0 0.25em;
	display: inline-block;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	cursor: pointer;
	min-width: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #dfdfdf;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);	
}
body.COS .button { background-color: #7d71b4; border-color: #662d8f; }
body.ETL .button { background-color: #dce57d; border-color: #b6c727; }
body.EXO .button { background-color: #8a84bf; border-color: #4f4c9a; }
body.EXP .button { background-color: #f68d69; border-color: #f04031; }
body.GAL .button { background-color: #dce57d; border-color: #b6c727; }
body.OTH .button { background-color: #a8dbd5; border-color: #57b7aa; }
body.STA .button { background-color: #f68d69; border-color: #f04031; }
body.SOL .button { background-color: #48c7e9; border-color: #00a2d3; }
body.SUN .button { background-color: #fff200; border-color: #ffcb06; }
body.TEL .button { background-color: #67c18d; border-color: #02a24b; }

.astronaut { background-color: #00a2d3; }
.cosmonaut { background-color: #f04031; }
.taikonaut { background-color: #ffcb06; }
.international { background-color: #67c18d; }
.tourist { background-color: #7c52a1; }


.loader {
	margin: 100px auto 0;
	width: auto;
	text-align: center;
}

.loader > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce:nth-child(3n+1) {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader .bounce:nth-child(3n+2) {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	-webkit-transform: scale(0);
	transform: scale(0);
	} 40% { 
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	}
}

ul.key { margin: 0px; padding-left: 0; display: inline-block; }
.keyitem { display: inline-block; margin-right: 1em; }
.keyitem:last-child { margin-right: 0; }
.keysymbol { margin-right: 0.25em; }
.keycircle { margin-right: 0.25em; width: 0.8em; height: 0.8em; display: inline-block; border-radius: 100%; }
.keysymbol img { max-width: 0.75em; }

#syear { float: left; margin-left: -3.5em; }
#eyear { float: right; margin-right: -3.5em; }
#controls { width: 85%; margin: auto; }
#range, #slider { display: block; }


/* Solar System Styles */
ul.solarsystem {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	list-style: none;
	-webkit-transition: all 0.09s ease-in;
	-moz-transition: all 0.09s ease-in;
	-o-transition: all 0.09s ease-in;
	transition: all 0.09s ease-in;
	overflow: hidden;
	z-index: 0;
}
ul.solarsystem li {
	text-indent: -9999px;
	display: block;
	position: absolute;
	border: 1px solid #e1f4fe;
}
ul.solarsystem li span {
	display: block;
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
ul.solarsystem li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 20em;
}
ul.solarsystem li.sun {
	width: 24em;
	height: 24em;
	background: #ffcb06;
	margin-top: -12em;
	left: -12em;
	border: none;
	z-index: 100;
}
ul.solarsystem li.mercury {
	width: 28em;
	height: 28em;
	margin-top: -14em;
	left: -14em;
	z-index: 99;
	border-color: #f18500;
}
ul.solarsystem li.mercury span {
	background: #f18500;
	top: -0.3em;
	left: 13.7em;
}
ul.solarsystem li.venus {
	width: 32em;
	height: 32em;
	margin-top: -16em;
	left: -16em;
	z-index: 98;
	border-color: #22a1d3;
}
ul.solarsystem li.venus span {
	background: #22a1d3;
	top: -0.3em;
	left: 15.7em;
}
ul.solarsystem li.earth {
	width: 36em;
	height: 36em;
	margin-top: -18em;
	left: -18em;
	z-index: 97;
	border-color: #229838;
}
ul.solarsystem li.earth span {
	background: #229838;
	top: -0.3em;
	left: 17.7em;
}
ul.solarsystem li.earth span.moon {
	width: 0.3em;
	height: 0.3em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #999999;
	top: 0.6em;
	left: 0.6em;
}
ul.solarsystem li.mars {
	width: 40em;
	height: 40em;
	margin-top: -20em;
	left: -20em;
	z-index: 96;
	border-color: #e63322;
}
ul.solarsystem li.mars span {
	background: #e63322;
	top: -0.3em;
	left: 19.7em;
}
ul.solarsystem li.jupiter {
	width: 44em;
	height: 44em;
	margin-top: -22em;
	left: -22em;
	z-index: 95;
	border-color: #c2c700;
}
ul.solarsystem li.jupiter span {
	background: #c2c700;
	top: -1.5em;
	left: 20.5em;
	width: 3em;
	height: 3em;
}
ul.solarsystem li.saturn {
	width: 48em;
	height: 48em;
	margin-top: -24em;
	left: -24em;
	z-index: 94;
	border-color: #b91b5f;
}
ul.solarsystem li.saturn span {
	background: #b91b5f;
	top: -1.25em;
	left: 22.5em;
	width: 2.5em;
	height: 2.5em;
}
ul.solarsystem li.uranus {
	width: 52em;
	height: 52em;
	margin-top: -26em;
	left: -26em;
	z-index: 93;
	border-color: #7465ab;
}
ul.solarsystem li.uranus span {
	background: #7465ab;
	top: -0.7em;
	left: 25.3em;
	width: 1.4em;
	height: 1.4em;
}
ul.solarsystem li.neptune {
	width: 56em;
	height: 56em;
	margin-top: -28em;
	left: -28em;
	z-index: 92;
	border-color: #62b6ac;
}
ul.solarsystem li.neptune span {
	background: #62b6ac;
	top: -0.7em;
	left: 27.3em;
	width: 1.4em;
	height: 1.4em;
}


/* CSS3 Animations */

ul.solarsystem li {
	animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:orbit; -moz-animation-name:orbit; -webkit-animation-name:orbit;
}

ul.solarsystem li.earth span {
	animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite;
	animation-timing-function:linear; -moz-animation-timing-function:linear; -webkit-animation-timing-function:linear;
	animation-name:moon; -moz-animation-name:moon; -webkit-animation-name:moon;
}

ul.solarsystem li.mercury {-webkit-animation-duration:6s; -moz-animation-duration:6s; animation-duration: 6s; animation-delay: -2.5s;}
ul.solarsystem li.venus {-webkit-animation-duration:9.2s; -moz-animation-duration:9.2s;animation-duration:9.2s; animation-delay: -3s;}
ul.solarsystem li.earth {-webkit-animation-duration:15s; -moz-animation-duration:15s;animation-duration:15s;animation-delay: -2.5s;}
ul.solarsystem li.earth span {-webkit-animation-duration:1.9s; -moz-animation-duration:1.9s;animation-duration:1.9s;}
ul.solarsystem li.mars {-webkit-animation-duration:22.86s; -moz-animation-duration:22.86s;animation-duration:22.86s;animation-delay:-8.6s;}
ul.solarsystem li.jupiter {-webkit-animation-duration:75.375s; -moz-animation-duration:75.375s;animation-duration:75.375s;animation-delay:-21s;}
ul.solarsystem li.saturn {-webkit-animation-duration:143s; -moz-animation-duration:143s;animation-duration:143s;animation-delay:-35.75s;}
ul.solarsystem li.uranus {-webkit-animation-duration:288s; -moz-animation-duration:288s;animation-duration:288s;animation-delay:-60s;}
ul.solarsystem li.neptune {-webkit-animation-duration:451s; -moz-animation-duration:451s;animation-duration:451s;animation-delay:-137.8s;}

@-webkit-keyframes orbit { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes orbit { 100% { -moz-transform:rotate(360deg); } }
@keyframes orbit { 100% { transform:rotate(360deg); } }
@-webkit-keyframes moon { 100% { -webkit-transform:rotate(360deg); } }
@-moz-keyframes moon { 100% { -moz-transform:rotate(360deg); } }
@keyframes moon { 100% { transform:rotate(360deg); } }

@media only screen and (max-width: 900px){
	ul.solarsystem { font-size: 14px; }
}
@media only screen and (max-width: 700px){
	ul.solarsystem { font-size: 12px; }
}
@media only screen and (max-width: 500px){
	ul.solarsystem { font-size: 10px; }
}

@media only screen and (max-width: 700px){
	h1 { font-size: 1.3em; }
	.tooltip { max-width: 100%; font-size: 1em; left: 0px; top: 0px; right: 0px; width: auto; }
	.tooltip .tooltip_inner:before {
		border: 0px;
	}
	.tooltip.left,.tooltip.right { margin-left: 0px; margin-right:0px; left: 0px; right: 0px; }
	.wide { display: none; }
	#header .padder { padding: 0.5em 1em; }
	.inner { padding: 0em;}
	.padder { padding: 1em; }
	/*ul#menu a { font-size: 0.8em;}*/
}
@media (max-width: 700px), (max-device-width: 700px) {
	#controls { width: 70%; }
}
