body { font-family: Helvetica, sans-serif; text-align: center; }
body.SOL { background-color: #e1f4fe; }

.outerbox {
    display: table;
    position: absolute;
    height: 95%;
    width: 95%;
}

.middlebox {
    display: table-cell;
    vertical-align: middle;
}

.innerbox {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
#container,#info { max-width: 700px; margin: auto; }

h1 { font-size: 1.5em; }
select { font-size: 1em; }
#syear { float: left; margin-left: -3.5em; }
#eyear { float: right; margin-right: -3.5em; }
#controls { width: 70%; margin: auto; }
#range, #slider { display: block; }
#output { margin-top: 1em; }
.count { font-size: 10em; font-weight: bold; }
#planets { position: relative; display: block; vertical-align: bottom; margin-top: 2em; margin-bottom: 1em; font-size: 1.4em; }
.planet { padding-right: 1em; margin-top: 1em; text-align: center; margin: auto; position: relative; height: 5em; display: inline-block; }
.planet .disc {
	content: "";
	display: inline-block;
	position: absolute;
	width: 1em;
	height:1em;
	background: #7465ab;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	z-index: -1;
	margin-top: -0.5em;
	margin-left: -0.5em;
	font-size: 1em;
	filter: alpha(opacity=30);
	/* IE */
	-moz-opacity: 0.3;
	/* Mozilla */
	opacity: 0.3;
}
.planet .label { width: 100%; text-align: center; z-index: 2; font-size: 0.6em; padding: 0.25em; margin-top: -0.75em; margin-left: -0.25em; }
.Sun .disc { font-size: 10em; background-color: #ffcb06; }
.Mercury .disc { font-size: 1em; background-color: #f18500; }
.Venus .disc { font-size: 1.8em; background-color: #22a1d3; }
.Earth .disc { font-size: 2em; background-color: #229838; }
.Moon .disc { font-size: 1em; background-color: #999999; }
.Mars .disc { font-size: 1em; background-color: #e63322; }
.Jupiter .disc { font-size: 5em; background-color: #c2c700; }
.Saturn .disc { font-size: 4.2em; background-color: #b91b5f; }
.Uranus .disc { font-size: 3em; background-color: #7465ab; }
.Neptune .disc { font-size: 3em; background-color: #62b6ac; }
.Pluto .disc { font-size: 0.8em; background-color: #7465ab; }
#info { opacity: 0.2; height: 2em; margin-bottom: 1em; }
#info:hover, #info:focus { opacity: 1; }

@media (max-width: 500px), (max-device-width: 500px) {
	#container { max-width: 90%; margin: auto; margin-top: 2em; }
	#info { height: auto; }
}